#!/usr/local/sbin/tac_plus-ng
id = spawnd {
	listen { port = 4949 }
	listen { address = 0.0.0.0 }
}
id = tac_plus-ng {
	device rfc {
		address = 192.168.0.0/16

		welcome banner = "Welcome private\n"
		key = labKey
	}
	retire limit = 1000
	profile readwrite {
		script {
			if (service == shell) {
				if (cmd = "") {
					set priv-lvl = 15
				permit
				}
			}
		}
	}
	profile readuser {
		script {
			if (service == shell) {
				if (cmd == "") {
					set priv-lvl = 1
					permit
				}
			}
		}
	}
	group admin
	group guest

	user readonly {
		password login = clear readonly
		member = guest
	}

	user demo {
		password login = clear demo
		member = admin
	}

	ruleset {
		rule from-rfc {
			enabled = yes
			script {
				if (nas == rfc) {
					if (group == admin) {
						profile = readwrite
						permit
					}
					if (group = guest) {
						profile = readuser
						permit
					}
				}
			}
		}
	}
}
